// Colors
$hue: 213;
$saturation: 100%;

$sat-gray: 10%;

$clr-whitest: hsl($hue $saturation 100%);
$clr-white: hsl($hue $saturation 98%);
$clr-black: hsl($hue $saturation 5%);
$clr-black-10: hsl($hue $saturation 5% / 0.1);
$clr-black-30: hsl($hue $saturation 5% / 0.3);

$clr-primary-ltst: hsl($hue $saturation 80%);
$clr-primary-ltr: hsl($hue $saturation 70%);
$clr-primary-lt: hsl($hue $saturation 60%);
$clr-primary-base: hsl($hue $saturation 50%);
$clr-primary-dk: hsl($hue $saturation 40%);
$clr-primary-dkr: hsl($hue $saturation 30%);
$clr-primary-dkst: hsl($hue $saturation 20%);

$clr-gray-ltst: hsl($hue $sat-gray 90%);
$clr-gray-ltr: hsl($hue $sat-gray 80%);
$clr-gray-lt: hsl($hue $sat-gray 70%);
$clr-gray-base: hsl($hue $sat-gray 50%);
$clr-gray-dk: hsl($hue $sat-gray 30%);
$clr-gray-dkr: hsl($hue $sat-gray 20%);
$clr-gray-dkst: hsl($hue $sat-gray 10%);

// Font-family
$ff-regular: Georgia, "Times New Roman", Times, serif;
$ff-headings: Georgia, "Times New Roman", Times, serif;
$ff-mono: "Courier New", Courier, monospace;

// Font-Sizes
// https://royalfig.github.io/fluid-typography-calculator/
$fs-smlst: clamp(1.2rem, 1.092307692307692rem + 0.256410256410256vw, 1.4rem);
$fs-smlr: clamp(1.4rem, 1.292307692307692rem + 0.2564102564102566vw, 1.6rem);
$fs-sm: clamp(1.6rem, 1.4923076923076923rem + 0.25641025641025633vw, 1.8rem);
$fs-base: clamp(1.8rem, 1.6923076923076923rem + 0.25641025641025633vw, 2rem);
$fs-bg: clamp(2rem, 1.7846153846153847rem + 0.5128205128205127vw, 2.4rem);
$fs-bgr: clamp(2.4rem, 1.969230769230769rem + 1.025641025641026vw, 3.2rem);
$fs-bgst: clamp(3.2rem, 2.876923076923rem + 0.7692307692307687vw, 3.8rem);

$fs-h1: clamp(3.8rem, 3.2615384615384615rem + 1.282051282051282vw, 4.8rem);
$fs-h2: clamp(2.8rem, 1.938461538461538rem + 2.051282051282052vw, 4.4rem);
$fs-h3: clamp(2.4rem, 1.969230769230769rem + 1.025641025641026vw, 3.2rem);
$fs-h4: clamp(2.2rem, 1.8769230769230774rem + 0.7692307692307687vw, 2.8rem);
$fs-h5: clamp(1.8rem, 1.476923076923077rem + 0.769230769230769vw, 2.4rem);
$fs-h6: clamp(1.6rem, 1.2769230769230768rem + 0.7692307692307694vw, 2.2rem);

// Line-Heights
$lh-regular: 1.5;
$lh-headings: 1.2;
$lh-mono: 1.2;

// Spacings
$spacing-nano: 0.4rem;
$spacing-micro: 0.8rem;
$spacing-smlst: 1.5rem;
$spacing-smlr: 2rem;
$spacing-sm: 2.5rem;
$spacing-base: 3rem;
$spacing-bg: 4rem;
$spacing-bgr: 5rem;
$spacing-bgst: 6rem;

// max-width
$mw-grid: 120rem;
$mw-post: 90rem;

// Border Radius
$br-base: 0.4rem;
