html {
  font-size: 62.5%;
}

body {
  background-color: hsl(213, 100%, 98%);
  color: hsl(213, 100%, 5%);
  font-size: 20px; /* Fallback value */
  font-size: clamp(1.8rem, 1.6923076923rem + 0.2564102564vw, 2rem);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: hsl(213, 100%, 50%);
  text-decoration: none;
}

a:hover {
  color: hsl(213, 100%, 40%);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2;
  margin: 3rem 0;
}

h1 {
  font-size: 44px; /* Fallback value */
  font-size: clamp(3.8rem, 3.2615384615rem + 1.2820512821vw, 4.8rem);
}

h2 {
  font-size: 38px; /* Fallback value */
  font-size: clamp(2.8rem, 1.9384615385rem + 2.0512820513vw, 4.4rem);
}

h3 {
  font-size: 34px; /* Fallback value */
  font-size: clamp(2.4rem, 1.9692307692rem + 1.0256410256vw, 3.2rem);
}

h4 {
  font-size: 28px; /* Fallback value */
  font-size: clamp(2.2rem, 1.8769230769rem + 0.7692307692vw, 2.8rem);
}

h5 {
  font-size: 24px; /* Fallback value */
  font-size: clamp(1.8rem, 1.4769230769rem + 0.7692307692vw, 2.4rem);
}

h6 {
  font-size: 20px; /* Fallback value */
  font-size: clamp(1.6rem, 1.2769230769rem + 0.7692307692vw, 2.2rem);
}

pre {
  max-width: 100%;
  overflow-x: auto;
  line-height: 1.2;
  font-size: clamp(1.6rem, 1.4923076923rem + 0.2564102564vw, 1.8rem);
}

pre,
code {
  font-family: "Courier New", Courier, monospace;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

body,
html,
.blog-wrapper {
  height: 100%;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.section-content-wide {
  max-width: 120rem;
}

.section-content-narrow {
  max-width: 90rem;
}

.section-content-wide,
.section-content-narrow {
  margin-inline: auto;
}

.section-gap {
  padding: 3rem;
}

.pb-base {
  padding-bottom: 3rem;
}

.center {
  text-align: center;
}

.separator {
  background: hsl(213, 10%, 90%);
  width: 50%;
  margin-inline: auto;
  height: 1px;
  flex-shrink: 0;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.blog-title,
.blog-description {
  margin: 0;
}

.menu-items,
.menu-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 3rem;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 0;
  position: relative;
  isolation: isolate;
  max-width: 40rem;
  margin-inline: auto;
  font-size: inherit;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: 2px solid hsl(213, 10%, 80%);
  font-size: clamp(1.8rem, 1.6923076923rem + 0.2564102564vw, 2rem);
  padding: 1.5rem;
  padding-inline-end: 3.8rem;
  border-radius: 0.4rem;
  outline: none;
}

.search-input::-moz-placeholder {
  color: hsl(213, 10%, 80%);
}

.search-input::placeholder {
  color: hsl(213, 10%, 80%);
}

.search-input:focus {
  border: 2px solid hsl(213, 100%, 50%);
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: transparent;
  font-size: clamp(1.8rem, 1.6923076923rem + 0.2564102564vw, 2rem);
  padding-inline: 1.5rem;
  color: hsl(213, 10%, 80%);
}

.search-content:focus-within .search-btn {
  color: hsl(213, 100%, 50%);
}

.footer {
  background: hsl(213, 10%, 30%);
  color: hsl(213, 100%, 98%);
}

.footer a {
  color: hsl(213, 100%, 98%);
}

.footer a:hover {
  color: hsl(213, 100%, 80%);
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.single-post-content {
  padding-top: 1.5rem;
}

.single-post-title,
.single-post-excerpt {
  margin: 0;
}

.single-post-excerpt {
  color: hsl(213, 10%, 50%);
  font-size: clamp(2rem, 1.7846153846rem + 0.5128205128vw, 2.4rem);
  font-style: italic;
}

.post-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-flow: row wrap;
}

.post-meta-link {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  color: hsl(213, 10%, 50%);
  text-decoration: none;
}

.post-meta-link:hover {
  text-decoration: none;
}

.post-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.5rem;
}

.post-tags .post-tag-link,
.post-tags .post-tag-link i {
  color: hsl(213, 10%, 50%);
}

.post-tags .post-tag-link:hover,
.post-tags .post-tag-link:hover i {
  color: hsl(213, 100%, 50%);
  text-decoration: none;
}

.post-tag-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.pagination-wrapper {
  font-size: clamp(2rem, 1.7846153846rem + 0.5128205128vw, 2.4rem);
}

.step-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.step-links > * {
  display: block;
  padding: 0.8rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(32rem, 100%), 1fr));
  gap: 3rem;
}

.card {
  border: 1px solid hsl(213, 10%, 90%);
  border-radius: 0.4rem;
  box-shadow: 0 5px 5px hsla(213, 100%, 5%, 0.1);
  transition: scale 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.card:hover {
  scale: 1.02;
  box-shadow: 0 5px 15px hsla(213, 100%, 5%, 0.3);
}

.card-text-wrapper {
  padding: 3rem;
}

.card-cover-wrapper {
  aspect-ratio: 16/9;
}

.card-cover {
  border-radius: 0.4rem 0.4rem 0 0;
  aspect-ratio: 16/9;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 300ms ease-in-out;
}

.card-cover:hover {
  opacity: 0.8;
}

.card-title-link {
  color: inherit;
}

.card-title-link:hover {
  text-decoration: none;
}

.card-title {
  font-size: clamp(2rem, 1.7846153846rem + 0.5128205128vw, 2.4rem);
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.card-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
}

.card-action-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.card-action-link:hover {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */