@import "./variables";

html {
  font-size: 62.5%;
}

body {
  background-color: $clr-white;
  color: $clr-black;
  font-size: 20px; /* Fallback value */
  font-size: $fs-base;
  font-family: $ff-regular;
  line-height: $lh-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $clr-primary-base;
  text-decoration: none;
}

a:hover {
  color: $clr-primary-dk;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-headings;
  line-height: $lh-headings;
  margin: $spacing-base 0;
}

h1 {
  font-size: 44px; /* Fallback value */
  font-size: $fs-h1;
}

h2 {
  font-size: 38px; /* Fallback value */
  font-size: $fs-h2;
}

h3 {
  font-size: 34px; /* Fallback value */
  font-size: $fs-h3;
}

h4 {
  font-size: 28px; /* Fallback value */
  font-size: $fs-h4;
}

h5 {
  font-size: 24px; /* Fallback value */
  font-size: $fs-h5;
}

h6 {
  font-size: 20px; /* Fallback value */
  font-size: $fs-h6;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  line-height: $lh-mono;
  font-size: $fs-sm;
}

pre,
code {
  font-family: $ff-mono;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

// Blog
body,
html,
.blog-wrapper {
  height: 100%;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

// Sections
.section-content-wide {
  max-width: $mw-grid;
}

.section-content-narrow {
  max-width: $mw-post;
}

.section-content-wide,
.section-content-narrow {
  margin-inline: auto;
}

.section-gap {
  padding: $spacing-base;
}

// Utilities
.pb-base {
  padding-bottom: $spacing-base;
}

.center {
  text-align: center;
}

.separator {
  background: $clr-gray-ltst;
  width: 50%;
  margin-inline: auto;
  height: 1px;
  flex-shrink: 0;
}

// Screen Reader Only - For Visually hidden elements
.sr-only {
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

// Header
.blog-title,
.blog-description {
  margin: 0;
}

// Menu
.menu-items,
.menu-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: $spacing-base;
}

// Search
.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 0;
  position: relative;
  isolation: isolate;
  max-width: 40rem;
  margin-inline: auto;
  font-size: inherit;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: 2px solid $clr-gray-ltr;
  font-size: $fs-base;
  padding: $spacing-smlst;
  padding-inline-end: calc($spacing-base + $spacing-micro);
  border-radius: $br-base;
  outline: none;
}
.search-input::placeholder {
  color: $clr-gray-ltr;
}

.search-input:focus {
  border: 2px solid $clr-primary-base;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: transparent;
  font-size: $fs-base;
  padding-inline: $spacing-smlst;
  color: $clr-gray-ltr;
}

.search-content:focus-within .search-btn {
  color: $clr-primary-base;
}

// Footer
.footer {
  background: $clr-gray-dk;
  color: $clr-white;
}

.footer a {
  color: $clr-white;
}

.footer a:hover {
  color: $clr-primary-ltst;
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-base;
}

// Single Post
.single-post-content {
  padding-top: $spacing-smlst;
}

.single-post-title,
.single-post-excerpt {
  margin: 0;
}

.single-post-excerpt {
  color: $clr-gray-base;
  font-size: $fs-bg;
  font-style: italic;
}

// Post Meta
.post-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-base;
  flex-flow: row wrap;
}

.post-meta-link {
  display: flex;
  gap: $spacing-micro;
  align-items: center;
  justify-content: center;
  color: $clr-gray-base;
  text-decoration: none;
}

.post-meta-link:hover {
  text-decoration: none;
}

// Post tags
.post-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: $spacing-smlst;
}

.post-tags .post-tag-link,
.post-tags .post-tag-link i {
  color: $clr-gray-base;
}

.post-tags .post-tag-link:hover,
.post-tags .post-tag-link:hover i {
  color: $clr-primary-base;
  text-decoration: none;
}

.post-tag-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-micro;
}

// Pagination
.pagination-wrapper {
  font-size: $fs-bg;
}

.step-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.step-links > * {
  display: block;
  padding: $spacing-micro;
}

// Card Grid
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(32rem, 100%), 1fr));
  gap: $spacing-base;
}

.card {
  border: 1px solid $clr-gray-ltst;
  border-radius: $br-base;
  box-shadow: 0 5px 5px $clr-black-10;
  transition: scale 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.card:hover {
  scale: 1.02;
  box-shadow: 0 5px 15px $clr-black-30;
}

.card-text-wrapper {
  padding: $spacing-base;
}

.card-cover-wrapper {
  aspect-ratio: 16 / 9;
}

.card-cover {
  border-radius: $br-base $br-base 0 0;
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover;
  transition: opacity 300ms ease-in-out;
}

.card-cover:hover {
  opacity: 0.8;
}

.card-title-link {
  color: inherit;
}

.card-title-link:hover {
  text-decoration: none;
}

.card-title {
  font-size: $fs-bg;
  margin-top: 0;
  margin-bottom: $spacing-micro;
}

.card-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: end;
  gap: $spacing-smlst;
}

.card-action-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: $spacing-micro;
}

.card-action-link:hover {
  text-decoration: none;
}
